@{
    ViewData["Title"] = "Add Faq";
}
@model Faq
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-auto">
                <div class="container-fluid text-center">
                    <h3>Add new Faq</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 my-auto">
                <div class="container-fluid">
                    @using (Html.BeginForm())
                    {
                        <table id="add">
                            <tbody>
                                <tr>
                                    <td style="width:30%;">@Html.LabelFor(m => m.Question)</td>
                                    <td style="width:70%;">
                                        @Html.TextBoxFor(m => m.Question, new { @class = "text" })
                                        @Html.ValidationMessage("Question", "", new { @class = "text-danger" }, "")
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:30%;">@Html.LabelFor(m => m.Answer)</td>
                                    <td style="width:70%;">
                                        @Html.TextAreaFor(m => m.Answer, new { @class = "text" })
                                        @Html.ValidationMessage("Answer", "", new { @class = "text-danger" }, "")
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="margin: auto;"><input class="button" type="submit" value="Add" /></td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@section Styles {
    <link href="@Url.Content("~/css/Faq/Add.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
