@{
    ViewData["Title"] = "Resources";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-auto">
                <div class="container-fluid">
                    <br />
                    <br />
                    @model List<Resource>
                    @if (Model == null || Model.Count == 0)
                    {
                            <h4>Sorry, no schedule available for this day!</h4>
                    }
                    else
                    {
                    <table>

                        @foreach (var resource in Model)
                        {
                            <tr style="        vertical-align: middle;">
                                <td class="section-heading" style="        float: left;
        vertical-align: middle;">
                                    <a target="_blank" href="@resource.Link">@resource.Title</a>
                                </td>
                                @if (this.User.IsInRole("admin"))
                                {
                                    <td>
                                        <input class="button" type="button" value="Edit" onclick="location.href='@Url.Action("Edit", "Resources", new { id = resource.Id })'" />
                                        <form class="buttonForm" method="post" action="/Resources/Delete/@resource.Id">
                                            <input class="button" type="submit" value="Delete" />
                                        </form>
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td colspan="2" style="        padding: 0px 0px 40px 0px;">
                                    @resource.Description
                                </td>
                            </tr>
                        }

                    </table>
                    }
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</section>
@section Styles {
    <link href="@Url.Content("~/css/Resources/Index.css")" rel="stylesheet" type="text/css" />
}