@{
    ViewData["Title"] = "Leader Board";
}
<section class="leaderBoard text-center" id="leaderBoard">
    <div class="container sched">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <hr>
                <div class="container">
                    <div class="tab">
                        @model List<LeaderBoard>
                        <h1>Leader Board</h1>
                        <center>
                            <table class="leaderBoard" style="        empty-cells: show;
        max-width: 100%;
        background: #eee;
        margin: 0 0 20px .5%;
        border: 8px solid #fff;
        box-shadow: 0 0 0 1px #900;
        position: relative;
        margin: 10px .5% 20px;
        width: 99% !important;
        font-family: 'Effra W01 Regular', 'Trade Gothic Next W01', Arial, sans-serif;
        padding: 35px 0 40px 40px;
        background-color: #fff;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.7em;">
                                <thead style="        color: #900;">
                                    <tr style="        margin-top: 0;
        margin-bottom: 0;
        padding-top: 10px 20px;
        box-sizing: border-box;
        display: table-row;
        background-color: rgb(238, 238, 238);">
                                        <th style="        padding-top: .9em;
        padding: 0px 20px;
        display: table-cell;
        font-weight: 900;
        box-sizing: border-box;
        border-right: 1px solid #bbb;
        height: 60px;
        vertical-align: middle;
    ">Username</th>
                                        <th style="        padding-top: .9em;
        padding: 0px 20px;
        display: table-cell;
        font-weight: 900;
        box-sizing: border-box;
        border-right: 1px solid #bbb;
        height: 60px;
        vertical-align: middle;">Score</th>
                                        <th style="        padding-top: .9em;
        padding: 0px 20px;
        display: table-cell;
        font-weight: 900;
        box-sizing: border-box;
        border-right: 1px solid #bbb;
        height: 60px;
        vertical-align: middle;">LastUpdated</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int RowNo = 1;}
                                    @foreach (var position in Model)
                                    {
                                        @if (RowNo % 2 == 1)
                                        {
                                            <tr id="black" style="        margin-top: 0;
        margin-bottom: 0;
        padding-top: 10px;
        background-color: #cccccc">
                                                <td style="        padding-top: .9em;
        padding: 0px 20px;
        display: table-cell;
        box-sizing: border-box;
        border-right: 1px solid #bbb;
        height: 60px;
        vertical-align: middle;">@position.Username</td>
                                                <td style="        padding-top: .9em;
        padding: 0px 20px;
        display: table-cell;
        box-sizing: border-box;
        border-right: 1px solid #bbb;
        height: 60px;
        vertical-align: middle;">@position.Score</td>
                                                <td style="        padding-top: .9em;
        padding: 0px 20px;
        display: table-cell;
        box-sizing: border-box;
        border-right: 1px solid #bbb;
        height: 60px;
        vertical-align: middle;">@position.LastUpdated</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr id="black" style="        margin-top: 0;
        margin-bottom: 0;
        padding-top: 10px;
        background-color: rgb(238, 238, 238)">
                                                <td style="        padding-top: .9em;
        padding: 0px 20px;
        display: table-cell;
        box-sizing: border-box;
        border-right: 1px solid #bbb;
        height: 60px;
        vertical-align: middle;">@position.Username</td>
                                                <td style="        padding-top: .9em;
        padding: 0px 20px;
        display: table-cell;
        box-sizing: border-box;
        border-right: 1px solid #bbb;
        height: 60px;
        vertical-align: middle;">@position.Score</td>
                                                <td style="        padding-top: .9em;
        padding: 0px 20px;
        display: table-cell;
        box-sizing: border-box;
        border-right: 1px solid #bbb;
        height: 60px;
        vertical-align: middle;">@position.LastUpdated</td>
                                            </tr>
                                        }
                                        RowNo++;
                                    }
                                </tbody>
                            </table>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>