@{
    ViewData["Title"] = "Leader Board";
}
<section class="leaderBoard text-center" id="leaderBoard">
    <div class="container sched">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <hr>
                <div class="container">
                    <div class="tab">
                        @model List<LeaderBoard>
                        <center>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Score</th>
                                        <th>LastUpdated</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int RowNo = 0;}
                                    @foreach (var position in Model)
                                    {
                                        <tr class="@(++RowNo % 2 == 1 ? "trDark" : "trLight")">
                                            <td style="width: 50%;">@position.Username</td>
                                            <td style="width: 20%;">@position.Score</td>
                                            <td style="width: 30%;">@position.LastUpdated</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles {
    <link href="@Url.Content("~/css/LeaderBoard/Index.css")" rel="stylesheet" type="text/css" />
}
