@{
    ViewData["Title"] = "Schedule";
}
<section class="text-center">
    <div class="container sched">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <hr>
                <div class="container">
                    <div class="tab">
                        @model List<Schedule>
                        <table>
                            <thead>
                                <tr>
                                    <td>Start Time</td>
                                    <td>End Time</td>
                                    <td>Title</td>
                                    <td>Room Number</td>
                                    @if(Model.Count == 1)
                                    {
                                        <td>Presenter</td>
                                    }

                                    @if (User.IsInRole("admin"))
                                    {
                                        <td>Actions</td>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{int RowNo = 0;}
                                @foreach (var schedule in Model)
                                {
                                    string url = "";
                                    try
                                    {
                                        url = "~/Day/" + @schedule.StartTime.Substring(0, 4) + "/" + @schedule.StartTime.Substring(5, 2) + "/" + @schedule.StartTime.Substring(8, 2);
                                    }
                                    catch (Exception)
                                    {
                                        continue;
                                    }
                                    <tr class="@(++RowNo % 2 == 1 ? "trDark" : "trLight")">
                                        <td><a href="~/Day/@schedule.StartTime.Substring(0, 4)/@schedule.StartTime.Substring(5, 2)/@schedule.StartTime.Substring(8, 2)">@schedule.StartTime</a></td>
                                        <td>@schedule.EndTime</td>
                                          <td><a href="~/Schedule/@schedule.Id">@schedule.EventTitle</a></td>
                                        <td>@schedule.Room</td>
                                        @if (Model.Count == 1)
                                        {
                                            <td>@schedule.Presenter</td>
                                        }

                                        @if (User.IsInRole("admin"))
                                        {
                                            <td>
                                                <input class="button" type="button" value="Edit" onclick="location.href='@Url.Action("Edit", "Schedule", new { id = schedule.Id })'" />
                                                <input class="button" type="button" value="Delete" onclick="location.href='@Url.Action("Delete", "Schedule", new { id = schedule.Id })'" />
                                            </td>
                                        }
                                    </tr>
                                    @if (Model.Count == 1)
                                    {
                                        <tr class="@(++RowNo % 2 == 1 ? "trDark" : "trLight")">
                                            <td colspan="@(User.IsInRole("admin")? "6" : "5")" style="text-align: justify; padding: 20px;">@schedule.EventDescription</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Styles {
    <link href="@Url.Content("~/css/Schedule/Index.css")" rel="stylesheet" type="text/css" />
}
