@{
    ViewData["Title"] = "Checkin";
}
@model UserCheckinInfo

<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <hr>
                <div class="container">
                    <div class="tab">

                        @if (Model == null)
                        {
                            <h4>Sorry, no information available!</h4>
                        }
                        else
                        {
                            int RowNo = 0;
                            @if (Model.nonCheckedinUsers.Count > 0)
                            {
                                <table>
                                    <thead>
                                        <tr>
                                            <td>Username</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{RowNo = 0;}
                                        @foreach (var user in Model.nonCheckedinUsers)
                                        {
                                            <tr class="@(++RowNo % 2 == 1 ? "trDark" : "trLight")">
                                                <td style="        width: 70%;">@Html.Raw(user.Username)</td>
                                                <td style="        width: 30%;">
                                                    <form method="post">
                                                        <input type="hidden" name="Username" value="@user.Username" />
                                                        <input type="submit" value="Checkin" class="button" />
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <br />
                                            }

                            @if (Model.checkins.Count > 0)
                            {
                                <table>
                                    <thead>
                                        <tr>
                                            <td>Username</td>
                                            <td>Checkedin By</td>
                                            <td>Timestamp</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{RowNo = 0;}
                                        @foreach (var checkin in Model.checkins)
                                        {
                                            <tr class="@(++RowNo % 2 == 1 ? "trDark" : "trLight")">
                                                <td style="        width: 40%;">@Html.Raw(checkin.participant.Username)</td>
                                                <td style="        width: 40%;">@Html.Raw(checkin.admin.Username)</td>
                                                <td style="        width: 20%;">@Html.Raw(checkin.timestamp)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                }
                            }
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles {
    <link href="@Url.Content("~/css/Checkin/Index.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}