@{
    ViewData["Title"] = "Schedule";
}
<section>
    <div class="container sched">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <hr>
                <div class="container">
                    <div class="tab">
                        @model List<Schedule>
                        @if (Model == null || Model.Count == 0)
                        {
                            <h4>Sorry, no schedule available for this day!</h4>
                        }
                        else
                        {
                            <table>
                                <thead>
                                    <tr>
                                        <td>Start Time</td>
                                        <td>End Time</td>
                                        <td>Description</td>
                                        <td>Room Number</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int RowNo = 0;}
                                    @foreach (var schedule in Model)
                                    {
                                        <tr class="@(++RowNo % 2 == 1 ? "trDark" : "trLight")">
                                            <td>@schedule.StartTime</td>
                                            <td>@schedule.EndTime</td>
                                            <td>@schedule.EventDescription</td>
                                            <td>@schedule.Room</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Styles {
    <link href="@Url.Content("~/css/Day/Index.css")" rel="stylesheet" type="text/css" />
}